//////////
// Vars //
//////////

$orange: rgb(246, 97, 69);
$dark_orange: rgb(195, 60, 44);
$light_orange: rgb(248, 175, 145);
$blue: rgb(52, 152, 219);
$black: #393939;
$white: #FFFFFF;
$dark_red: #c0392b;
$fb_blue: #36487d;
$tw_blue: #1e9ae8;

$font: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;

$lg_width: 708px;
$md_width: 708px;
$sm_width: 560px;
$xs_width: 280px;

$padding: 10px;